@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'kalamehThin100';
      src: url('../assets/fonts/Kalameh-Thin100.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehExtraLight200';
      src: url('../assets/fonts/Kalameh-ExtraLight200.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehLight300';
      src: url('../assets/fonts/Kalameh-Light300.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehRegular400';
      src: url('../assets/fonts/Kalameh-Regular400.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehMedium500';
      src: url('../assets/fonts/Kalameh-Medium500.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehSemiBold600';
      src: url('../assets/fonts/Kalameh-SemiBold600.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehBold700';
      src: url('../assets/fonts/Kalameh-Bold700.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehExtraBold800';
      src: url('../assets/fonts/Kalameh-ExtraBold800.ttf') format('truetype');
   }
   @font-face {
      font-family: 'kalamehBlack900';
      src: url('../assets/fonts/Kalameh-Black900.ttf') format('truetype');
   }
   @font-face {
      font-family: 'DanaFaNum';
      src: url('../assets/fonts/DanaFaNum-Regular.ttf') format('truetype');
   }

   html {
      scroll-behavior: smooth;
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default !important;
      }
   }
}
